.add-option {
    display: flex;
    padding: $m-size;

}


.add-option__input {
    color: $off-white;
    border: none;
    border-bottom: solid .3rem darken($color: $dark-blue, $amount: 10);
    background: $dark-blue;
    padding: $s-size;
    flex-grow: 1;
    margin-right: $s-size;
}

.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;

}